.navbar.navbar-default{
	background-color:#FFF;
}
.navbar.navbar-default *{
	color:#0093DD!important;
}
.navbar-default .navbar-nav>.active *{
	background-color:#0093DD!important;
	color:#FFF!important;
}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:hover *{
	background-color:#5CBAE9!important;
	color:#FFF!important;
}
@media(max-width:805px){
	.navbar-nav>li>a {
		overflow: hidden;
		max-width: 50px;
		height: 50px;
	}
	.navbar-nav>li>a span{margin-bottom:100px}
}
@media(max-width:765px){
	.navbar-nav>li>a {
		overflow: none;
		max-width: 1000px;
		height: 50px;
	}
	.navbar-nav>li>a span{margin-bottom:0}
}
*{border-radius:0!important}
body{
	background-color: #FBFBFB;
}
.container {
    margin-top: 50px;
}
h1,h2,h3,h4,h5,h6{
	color:#0093DD!important
}
span.col-info {
    width:90px;
    display: inline-block;
}
span[id^="kq"] .progress {
    width: 180px;
    margin-bottom: -4px;
    display: inline-block;
}
#footer {
    position: static;
	margin-top:50px;
    color: #0093DD!important;
    padding: 5px 0;
    width: 100%;
    text-align: center;
}
#acp h3 {
    margin-top: 0;
}
textarea#qtnote {
    outline: 0;
    border: 0;
    width: 100%!important;
    overflow:auto;
    height:300px!important;
}
/*Styling checkboxes and radio http://code.stephenmorley.org/html-and-css/styling-checkboxes-and-radio-buttons/*/
input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
    width: 28px;
    margin: 0;
    padding: 0;
    opacity: 0;
    height:22px;
    vertical-align: middle;
    cursor: pointer;
}
input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('../img/checks.png') no-repeat 0 0;
  line-height  : 24px;
}
input[type=checkbox]:not(old):checked + label{
  background-position : 0 -24px;
}
input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}
table label{font-weight:normal}







