.navbar.navbar-default{
	background-color:#FFF;
}
.navbar.navbar-default *{
	color:#0093DD!important;
}
.navbar-default .navbar-nav>.active *{
	background-color:#0093DD!important;
	color:#FFF!important;
}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:hover *{
	background-color:#5CBAE9!important;
	color:#FFF!important;
}
body{
	background-color: #FDFDFD;
}
.container {
    margin-top: 50px;
}
h1,h2,h3,h4,h5,h6{
	color:#0093DD!important
}
span.col-info {
    width:90px;
    display: inline-block;
}
span[id^="kq"] .progress {
    width: 180px;
    margin-bottom: -4px;
    display: inline-block;
}
#footer {
    position: static;
	margin-top:50px;
    color: #0093DD!important;
    padding: 5px 0;
    width: 100%;
    text-align: center;
}
@media(max-height:520px){
	#footer br{
		display:inline-block!important
	}
}
#acp h3 {
    margin-top: 0;
}
textarea#qtnote {
    outline: 0;
    border: 0;
    width: 100%!important;
    overflow:auto;
    height:300px!important;
}